body {
  font-family: Arial;
  margin: 0px;
  background: #f7f7f7;

  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  display: block;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000;
  text-transform: uppercase;
}

.menu a:hover {
  border: 1px solid #900;
  cursor: pointer;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;

  display: grid;
  align-items: center;
  gap: 20px;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  /* display: inline-block; // substituido pelo display: grid; do introducoa*/
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 2rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url("./img/onda.svg");
}

.vantagens {
  background: #fff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px; /*linha e coluna*/
  padding: 20px;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  text-align: center;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
