body {
  font-family: "Arial";
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.item {
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 20px;
  display: grid;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: space-between;
}
